@model belajarASP_new.Models.NamaIdentitasModel;


@{
    ViewData["Title"] = "Halaman Halo Dunia";
}

<div class="text-center">
    <h1 class="display-4">Halo Dunia</h1>
    <p>Halo, nama saya @Model.Nama dan usia saya @Model.Usia  </p>

  
</div>


