@model List<belajarASP_new.Models.NamaIdentitasModel>


@{
    ViewData["Title"] = "Halaman Halo Dunia";
}

<div class="text-center">
    <h1 class="display-4">Halo Dunia</h1>
    <p>Data nama karyawan :  </p>
    <ul>
        @foreach(var nama in Model)
        {
            <li>Nama @nama.Nama dan Usia @nama.Usia</li>
        }
    </ul>
  
</div>


